<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/artyom.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-database.js"></script> 
    <title>SIMH</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div style="text-align: center;">
        <h1>Welcome to SIMH</h1>
        
        <label>Instructions to use the device</label>
        <h2>Whenever you are ready, say start to begin the data collection process</h2>
        <h2 id="check"></h2>
        <h2 id="prompt"></h2>

        <button><a href="/qrscan">Show QR Code if you have already entered info</a></button>
        <br><br>

        <form action="/form" method="POST" id="form">
            <label for="name" style="text-align:left">Name</label> <br>
            <input type="text" id="name" placeholder="Name"> <br><br>
            <label for="age">Age</label><br>
            <input type="number" id="age" placeholder="Age"> <br><br>
            <label for="phone">Phone</label><br>
            <input type="number" id="phone" placeholder="Phone No."> <br><br>
            <label for="type">Type of Visit</label><br>
            <input type="text" id="type" placeholder="Name"> <br><br>
        </form>

        <button onclick="firebaseWrite()">Submit</button>

    </div>

    <script src="../js/form.js">
    </script>
</body>
</html>