<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/artyom.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>SIMH</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Clean your hands with sanitiser</h1>
        <h2>Keep your hand infront of the sanitiser dispenser as shown </h2>
        
        <h2 id="check"></h2>
        <h2 id="prompt"></h2>
        <form id="form" action="/sanitise" method="POST"></form>
    </div>

    <script src="../js/sanitiser.js"></script>
</body>
</html>