<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/artyom.js"></script>
    <title>SIMH</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body style="text-align: center;">
    
    <h1>Welcome to SIMH</h1>
    <h2>To begin say start</h2>
    <h2 id="check"></h2>
    <h2 id="prompt"></h2>

    <button><a href="/temperature">START</a></button>
    
    <script src="../js/start.js">
    </script>
   

    
</body>

</html>